@import "_variable.scss";
h1 {
  color: $redy;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}
