<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Thang</th>
        <th>Tong Doanh Thu</th>
      </tr>
    </thead>
    <tbody>
        {{#each revenue}}
      <tr>
        <td>{{this.Thang}} </td>
        <td>{{this.TongDoanhThu}} vnđ</td>
      </tr>
        {{/each}}
    </tbody>
  </table>
</div>