<!DOCTYPE html>
<html>
<head>
	<title>Animated GIF Example</title>
		<style>
		html, body {
			height: 100%;
			margin: 0;
			padding: 0;
		}
		img {
			width: 100%;
			height: 100%;
		}
	</style>
</head>
<body>
	<img src="https://i.pinimg.com/originals/52/2e/0c/522e0ce4f76271fa6a314e9dc3aa37f1.gif" alt="GIF Background" >
</body>
</html>
