<div class="mt-4">
    <form method="POST" action="/revenue/show">
  <div class="form-group" >
    <label for="gender-input">Nhập năm cần tính doanh thu</label>
  </div>
   <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="year">
  <button type="submit" class="btn btn-primary">Tìm kiếm</button>

</form></div>